*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/barn.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;

}

 .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  width: 500px;
 
  
 
 }
ul li a{
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
  font-weight: bold;

}
 

 

 .nav-links, li{
  list-style: none;
  margin: 0;
  padding: 0;
 

}
.menu{
  width: 400px;
  float: left;
  height: 100%;



}
.menu, li{
  display: inline-block;
  padding: 20px;
}

.menu a{
  text-decoration: none;
  color: white;
  width: 100px;
}

li a:hover{
  color: #609D39;
  text-decoration: none;
}


  


.search{
  float: right;
  height: 100%;
  padding: 20px;
}




.footer {
  background-color: #609D39;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
   background: linear-gradient(to top, rgba(96,157,57,0.6), rgba(0,0,0,0.4));
 
 
}

.class, .email, .phone {
  display: inline-block;
  margin-right: 20px;
  margin-top: 50px;
  font-size: large;
  width: 300px;
  text-align: center;
  color: white;
  

}
.info{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white
}
h1{
  text-align: left;
  color: white;
  font-size: 40px;
  padding: 20px;
  
  
}
h2{
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 20px;
}

.ms, .vs {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 100px;
}

.grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}















    .calendar {
      background: white;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 600px;
      

    }

    .calendar h2 {
      text-align: center;
    }

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-top: 10px;
    }

    .day-name, .day {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }

    .day-name {
      background: #eee;
      font-weight: bold;
    }

    .day:hover {
      background: #f0f8ff;
      cursor: pointer;
    }

    .event {
      background: #4caf50;
      color: white;
      font-size: 12px;
      margin-top: 5px;
      padding: 2px;
      border-radius: 3px;
    }











